#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}
.bg{
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 75vh;
    width: 38rem;

    
}
.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
}
.introname{
    color: yellow;
}
.intropara{
    font-size: medium;
    font-weight: 100;

}
.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;

}
.btn:hover{
   background-color:#effa9b;
   color:black;
}
.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

.linkdiv{
    display: flex;
    align-items: center;
    margin-top: -1rem;
    margin-left: 2.5rem;
}
.icondiv:hover{
    color: white;

}

@media screen and (max-width: 740px){
    .bg{
        right: -20vw;
    }
    .introContent{
        font-size: 15vw;
    }
    .hello{
        font-size: 4.5vw;
    }
}
@media screen and (max-width: 480px){
    .bg{
        right: -30vw;
    }
    .introContent{
        font-size: 15vw;
    }
    .hello{
        font-size: 4.5vw;
    }
}

    


